mixin registerForm()
  .inner
    form.form(action="/register" method="POST")
      h2 Register
      label(for="name") Name
      input(id="name" type="text" name="name" )
      label(for="email") Email
      input(id="email" type="email" name="email" )
      label(for="password") Password
      input(id="password" type="password" name="password" )
      label(for="confirm-password") Confirm Password
      input(id="confirm-password" type="password" name="confirm-password" )
      input.button(type="submit" value="Register")